@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-beige: #EAE7DC;
  --main-sand: #D8C3A5;
  --main-grey: #8E8D8A;
  --main-rose: #E98074;
  --main-red: #E85A4F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: Raleway, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-red);
  background-color: var(--main-beige);
}

#header {
  font-family: Pacifico;
}

#square-grid-wrapper {
  height: 600px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#square-grid {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: repeat(24, auto);
  grid-gap: 1px;
  user-select: none;
  box-shadow: 3px 3px 10px 2px var(--main-grey);
}

#ui-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 50px;
  width: 900px;
  height: 150px;
}

.square {
  height: 19px;
  width: 19px;
  background-color: white;
}

.ui-button {
  color: var(--main-red);
  margin: 3px;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 70px;
  height: 20px;
  border: 1px solid var(--main-grey);
}

.ui-button:hover {
  background-color: var(--main-beige);
}

.ui-button:active {
  background-color: var(--main-sand);
}

.rgb-input {
  width: 80px;
}

.rgb-value {
  font-family: Raleway;
  font-weight: 600;
  font-size: 13px;
  margin-left: 0px;
  width: 80px;
}

.ui-subsection {
  margin: 10px;
  width: 180px;
}

.subsection-header {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid var(--main-grey);
  margin-bottom: 10px;
}

#slider-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#preview-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#custom-color-preview {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  border: 1px solid var(--main-grey);
}

#mode-button-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

#copyright {
  display: flex;
  align-items: center;
  font-family: Poppins;
  color: var(--main-grey);
  margin: 10px;
}

#copyright-link {
  text-decoration: none;
  color: var(--main-grey);
  margin-left: 5px;

}

#github-icon{
  font-size: 26px;
  text-decoration: none;
  transition: 200ms ease-in-out;

}

#github-icon:hover{
  color: #3D3D3D;
  transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
  .square {
    height: 9px;
    width: 9px;
  } 
  #square-grid-wrapper {
    height: 300px;
    width: 400px;
  }
  #ui-wrapper {
    width: 400px;
    height: 300px;
    flex-wrap: wrap;
  }
  .subsection-header {
    font-size: 16px;
    width: 150px;
  }
  .ui-subsection {
    width: 150px;
  }
  .ui-button {
    font-size: 9px;
    width: 50px;
  }
}